* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    margin: 100px;
    padding: 10px;
    box-shadow: 0 0 5px #000;
    width: fit-content;
  }
  
  .tooltiptext {
    visibility: visible;
    background-color: red;
    color: white;
    padding: 5px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
  }
  